<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit/Loss Page</title>
    <style>
        .box {
            width: 100px;
            height: 100px;
            border: 1px solid black;
            display: inline-block;
            margin: 5px;
            text-align: center;
            line-height: 100px;
        }
        .yellow {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h1>Profit/Loss Calculation</h1>

    {% for month in profit_loss_data.last_12_months %}
        <div class="box">
            <p>{{ month }}</p>
            {% if profit_loss_data.months_data[month].total_income is none %}
                <p class="yellow">No Data</p>
            {% else %}
                <p>Total Income: {{ profit_loss_data.months_data[month].total_income }}</p>
                <p>Total Expenses: {{ profit_loss_data.months_data[month].total_expenses }}</p>
                <p>Profit/Loss: {{ profit_loss_data.months_data[month].profit_loss }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <!-- Button to go back to the previous page -->
    <button onclick="goBack()">Go Back</button>

    <!-- Button for logging out -->
    <a class="navigation-button" href="/login">Logout</a>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>

